# CakePHP 2

# Configuration Files
/app/Config/core.php
/app/Config/database.php
/app/Config/email.php
/app/webroot/API/config.php

# Dependencies
/vendors/*

# API Dependencies
/app/webroot/API/vendor/*

# Temp files
/app/tmp/cache/models/*
!/app/tmp/cache/models/empty
/app/tmp/cache/persistent/*
!/app/tmp/cache/persistent/empty
/app/tmp/cache/views/*
!/app/tmp/cache/views/empty
/app/tmp/sessions/*
!/app/tmp/sessions/empty
/app/tmp/tests/*
!/app/tmp/tests/empty
/app/tmp/logs
!/app/tmp/logs/empty

# Logs
/app/log/*
!/app/log/empty

# Invoices
/app/invoices/out/*
!/app/invoices/out/empty
/app/invoices/sent/*
!/app/invoices/sent/empty

# Upload files
app/webroot/uploads/*
!app/webroot/uploads/empty
